/* styles.css */

.table {
    width: 100%;
    margin-top: 10px;
  }
  
  .table-header {
    display: flex;

    font-weight: bold;
  }
  
  .cell {
    flex: 1;
    padding: 8px;

    text-align: center;
  }
  
  .table-row {
    display: flex;
  }
  
  /* Ensure that each row is on a new line */
  .table-row {
    margin-top: 5px;
  }
  